<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data.title %></title>
    <style>
        body {
            margin: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: rgb(240, 240, 240);
        }

        .string {
            width: 100%;
            background-color: rgb(226, 226, 226);
            height: 10px;
        }

        .article_name h1 {
            font-size: 50px;
            margin: 40px;
        }

        .content h2 {
            font-size: 30px;
            margin: 40px;
        }

        .content p {
            width: 600px;
            margin-left: 40px;
        }

        .content a {
            text-decoration: none;
            color: white;
            background-color: black;
            padding: 20px;
            display: inline-block;
            border-radius: 20px;
            margin-left: 40px;
            font-weight: bold;
        }
    </style>
</head>

<body>

    <% 
        var data = data[0];
        %> 
    <div class="article_name">
        <h1><%= data.title %> </h1>
    </div>
    <div class="string"></div>

    <div class="content">
        <h2>Текст записки:</h2>
        <p><%= data.text %> </p>
        <h2>Date:<%= data.date %> </h2>
        <a href="/<%= data.month %> ">GO BACK</a>
    </div>
</body>

</html>